# Be sure to replace all instances of /your/corpora/basedir with a local directory, such as /Users/username/corpora :)
# Inside that directory, also be sure to create the following subdirectories: corpora, static, archive, link, and search

version: '3'

services:

  nginx:
    image: nginx
    links:
      - corpora:corpora
      - iiif:iiif
    volumes:
      - ./nginx/corpora.conf:/etc/nginx/conf.d/default.conf
      - /your/corpora/basedir:/data/corpora
    ports:
      - 80:80

  corpora:
    build: ./app
    command: ./start.sh
    environment:
      CRP_HOST: localhost
      CRP_INSTALLED_PLUGINS: tesseract,csv
      CRP_MONGO_HOST: mongo
      CRP_MONGO_DB: corpora
      CRP_MONGO_USER: corpora
      CRP_MONGO_PWD: corpora
      CRP_MONGO_POOLSIZE: 5
      CRP_NEO4J_HOST: neo4j:7687
      CRP_NEO4J_USER: corpora
      CRP_NEO4J_PWD: neo4j_pwd
      CRP_NEO4J_RO_USER: corpora_ro
      CRP_NEO4J_RO_PWD: corpora
      CRP_ELASTIC_HOST: elastic
      CRP_ELASTIC_SYNONYM_OPTIONS: early_modern:Early Modern:early_modern_synonyms.txt
      CRP_DJANGO_WORKERS: 3
      CRP_HUEY_WORKERS: 10
      CRP_USE_SSL: "no"
    volumes:
      - ./app:/apps/corpora
      - ./app/imagemagick.xml:/etc/ImageMagick-6/policy.xml
      - /your/corpora/basedir/static:/static
      - /your/corpora/basedir/corpora:/corpora
      - /your/corpora/basedir/conf:/conf
    depends_on:
      - mongo
      - neo4j
      - elastic
      - redis
    links:
      - redis:redis
      - mongo:mongo
      - neo4j:neo4j
      - elastic:elastic

  redis:
    image: redis:5.0.4

  iiif:
    image: pulibrary/cantaloupe
    volumes:
      - /your/corpora/basedir/corpora:/var/lib/cantaloupe/images/corpora
      - ./iiif/cantaloupe.properties:/etc/cantaloupe.properties
    # ports:
    #  - 8182:8182

  mongo:
    image: mongo:3.4-xenial
    environment:
      MONGO_INITDB_ROOT_USERNAME: corpora
      MONGO_INITDB_ROOT_PASSWORD: corpora
    volumes:
      - /your/corpora/basedir/archive:/data/db
    ports:
      - 27017:27017

  neo4j:
    image: neo4j:3.5.14
    environment:
      NEO4J_dbms_memory_pagecache_size: 512M
      NEO4J_dbms_memory_heap_max__size: 512M
    volumes:
      - /your/corpora/basedir/link:/data
    ports:
      - 7687:7687
      - 7474:7474

  elastic:
    image: elasticsearch:7.4.0
    environment:
      discovery.type: single-node
    volumes:
      - ./elasticsearch/early_modern_synonyms.txt:/usr/share/elasticsearch/config/early_modern_synonyms.txt
      - /your/corpora/basedir/search:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
