Django==2.1
gunicorn
mongoengine
djongo
redis==3.2.1
huey==2.0.1
natsort
Pillow
pypdf2
google-cloud-vision
nltk==3.4.5
matplotlib==3.1.1
beautifulsoup4
django-cors-headers
djangorestframework
django-rest-framework-mongoengine
pymysql
neo4j
elasticsearch-dsl>=7.0.0,<8.0.0
lxml
python-dateutil
