// Your variable overrides
$body-bg: #FFFFFF;
$body-color: #091540;
$card-border-color: #091540;
$input-border-color: #EF3E36;
$input-btn-padding-y: .25rem;
$input-btn-padding-x: .7rem;
$font-size-base: 0.8rem;


$theme-colors: (
  "primary": #EF3E36,
  "secondary": #091540,
  "success": #17BEBB,
  "info": #BFC0C0,
  "warning": #17BEBB,
  "danger": #EF3E36,
  "light": #BFC0C0,
  "dark": #091540
);
$gray-300: #BFC0C0;
$orange: #EF3E36;
$primary: $orange;
$blue: #091540;
$secondary: $blue;
$cyan: #17BEBB;
$success: $cyan;
$info: $gray-300;
$warning: $cyan;
$danger: $orange;
$light: $gray-300;
$dark: $blue;
$border-color: rgba(0, 0, 0, 0.125);

$alert-padding-y: .75rem;
$link-decoration: none;
$link-hover-decoration: underline;
$table-color: $blue;

$theme-colors-text: (
  "primary": #FFFFFF,
  "secondary": #FFFFFF,
  "warning": #FFFFFF,
  "danger": #FFFFFF
)!default;


// Bootstrap and its default variables
@import "scss/bootstrap";


// Custom CSS
html:not(.compact), body:not(.compact) {
  height: 100%;
  width: 100%;
}

html {
  scroll-padding-top: 50px;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: .9rem;
}

.brand {
  background-image: url('/static/img/top-books.png');
  background-repeat: repeat-x;
}

.footer {
  background-image: url('/static/img/bottom-books.png');
  background-repeat: repeat-x;
  background-position: left bottom;
}

.logo {
  height: 50px;
}

.logo-small {
  height: 25px;
}

.brand {
  padding-top: 35px;
  margin-bottom: 15px;
}

#loading-overlay {
  z-index: 5000;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  /*opacity: .5;*/
}

.loading-spinner {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#breadcrumb {
  z-index: 4999;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFFFFF;
  padding: 5px 10px 5px 10px;
  max-width: 500px;
  border-left: solid 4px #17BEBB;
  border-right: solid 4px #17BEBB;
}

#breadcrumb-inner {
  max-width: 480px;
  white-space: nowrap;
  overflow: hidden;
}

.sticky-nav {
    position: -webkit-sticky;
    position: sticky;
    top: -2px;
    z-index: 500;
    margin-left: -10px;
    margin-right: -10px;
    background-color: white;
}

.form-group { margin-bottom: 1rem; }
.form-group label { margin-bottom: .5rem; }

.card {
  border: none !important;
}

.card-header {
  padding: 8px !important;
  border-bottom: solid 4px #091540;
  background-image: url("/static/img/lines.png");
  background-repeat: repeat-x;
}

.card-header h4 {
  color: #091540;
  text-shadow: 0 0 10px rgba(245, 245, 245), 0 0 20px rgba(245, 245, 245), 0 0 30px rgba(245, 245, 245), 0 0 40px rgba(245, 245, 245), 0 0 50px rgba(245, 245, 245), 0 0 60px rgba(245, 245, 245), 0 0 70px rgba(245, 245, 245);
}

.control-div {
  background-color: #091540;
}

.content-type-group .alert.alert-info {
  border-color: #c2c2c2 !important;
}

.content-type-group .corpora-content-table .alert.alert-info,
.content-type-group-description,
.content-type-group-member-minimized {
  margin-top: 20px !important;
  margin-bottom: 0 !important;
}

.content-type-group-description > p:last-child {
  margin-bottom: 0;
}

.content-type-group-member-controls {
  text-align: right;
  position: relative;
  z-index: 100;
  padding-right: 20px;
  margin-bottom: -55px;
  margin-top: 30px;
}

.content-type-group-member-minimized {
  border: solid 1px #c2c2c2;
  border-radius: 5px;
  padding: 10px;
}

.content-type-group-member-minimized[open] {
  border: none;
  padding: 0;
}

.content-type-group-member-minimized[open] > summary {
  margin-bottom: -20px;
  position: relative;
  z-index: 100;
}

.content-type-group-member-minimized > summary > h4 {
  display: inline;
}

.content-type-group-member-minimized[open] > summary > h4 {
  display: none;
}

.corpora-content-table .badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: normal !important;
  font-size: 12px;
  height: 30px;
}

.fa-times-circle {
  cursor: pointer;
}

.table thead {
  background-color: $cyan;
}

.table thead th {
  vertical-align: middle;
  border-bottom: solid 2px $blue;
}

.table .thead-dark th {
  border-top: none !important;
  background-color: #17BEBB;
  padding: 5px;
  padding-left: 10px;
}

.table .thead-dark th:hover {
  background-color: #12918F;
}

.table .thead-dark th a {
  color: white;
}

table.table {
  border-bottom: solid 4px #17BEBB;
  border-collapse: separate;
  border-spacing: 0;
}

.table > :not(caption) > * > * {
  box-shadow: none!important;
  color: $blue;
}

.content-table-container {
  overflow-x: auto;
  overflow-y: scroll;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.content-table-container:hover {
  border-bottom: dotted 2px #091540;
}

.content-table-resize-bar {
  height: 10px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -10px;
  pointer-events: none;
  cursor: pointer;
}

.content-table-container th {
  position: sticky;
  top: 0;
  z-index: 5;
}

.table .thead-dark th:first-child {
  position: sticky;
  left: 0;
  z-index: 10;
}

.table td:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
}

.corpora-content-table tbody tr:nth-of-type(odd) td {
	background-color: rgb(229, 229, 229);
}

.corpora-content-table tbody tr td {
	background-color: rgb(242, 242, 242);

}

.corpora-content-cell {
  max-height: 100px;
  overflow: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.content-selection-item {
  cursor: pointer;
}

h1, .h1, h2, .h2, h3, .h3,
h4, .h4, h5, .h5, h6, .h6 {
  color: $blue;
  margin-top: 0px;
  margin-bottom: 0px;
}
.alert-info h1, .alert-info .h1, .alert-info h2, .alert-info .h2, .alert-info h3, .alert-info .h3,
.alert-info h4, .alert-info .h4, .alert-info h5, .alert-info .h5, .alert-info h6, .alert-info .h6 { color: #636464; }

.alert-warning, .alert-success {
    color: #0c6361;
    background-color: #d1f2f1;
    border-color: #beedec;
}

.btn-link h5 { color: $orange; }

.carousel-control-next-icon, .carousel-control-prev-icon {
  color: #17BEBB;
}

.btn-primary, .btn-danger, .btn-secondary, .btn-warning,
.form-select.bg-primary, .form-select.bg-secondary,
.form-select-sm.bg-primary, .form-select-sm.bg-secondary { color: #FFFFFF!important; }
.form-select.bg-primary, .form-select.bg-secondary {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

.btn-square {
  width: 15px;
  height: 20px;
}

#job-box {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 350px;
  background-color: #17BEBB;
  border-top-left-radius: 10px !important;
  padding: 10px;
  z-index: 10;
}

.job-params dt {
  float: left;
  width: 160px;
  overflow: hidden;
  clear: left;
  text-overflow: ellipsis;
  white-space: normal;
}

.modal-body {
  max-height: 80vh;
  overflow-x: scroll;
}

.toast-close {
  position: absolute;
  top: 3px;
  right: 0px;
}

// Pattern of association styles
#patass-canvas {
  padding: 10px;
  background-color: #BFC0C0;
}

.patass-ct-circle {
  width: 150px;
  height: 150px;
  background: #EF3E36;
  border-radius: 50%;
  color: white;
  font-weight: bold;
}

.patass-ct-circle a {
  color: white;
}

.patass-add-circle {
  width: 150px;
  height: 150px;
  background: #17BEBB;
  border-radius: 50%;
  color: white;
  font-weight: bold;
}

.patass-pipe {
  border-left: dashed 2px #091540;
  height: 50px;
  width: 10px;
  margin-left: 10px;
}

.patass-ct-controls {
  margin-top: -55px;
  margin-bottom: 30px;
}