{% extends 'base.html' %}
{% load static %}
{% load extras %}

{% block css %}
    <style>
        .bulk-editing-row {
            display: none;
        }

        label {
          font-weight: bold;
        }

        .multi-value-row:nth-of-type(odd) {
            background-color: rgba(0, 0, 0, 0.05);
        }

        .multi-value-row {
            margin-bottom: 10px;
        }

        /*
        :nth-last-child(1 of .multi-value-row) {
            margin-bottom: 0;
        }
         */

        {% if css_styles %}{{ css_styles|safe }}{% endif %}
    </style>
    {% for inclusion in inclusions.css %}
    <link href="{% static inclusion %}" rel="stylesheet">
    {% endfor %}
{% endblock %}

{% block modals %}
  <!-- CONTENT DELETION CONFIRMATION MODAL -->
  <div class="modal fade" id="deletion-confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="deletion-confirmation-modal-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deletion-confirmation-modal-label">Confirm Deletion</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <div id="deletion-confirmation-modal-message" class="alert alert-danger">
            Are you sure you want to delete this content?
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <form method="post">
            {% csrf_token %}
            <input type="hidden" name="delete-content" value="y" />
            <button type="submit" class="btn btn-primary">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block main %}
    <div class="row flex-grow-1">
        <div id="content-form-col" class="col-12">
            {% if bulk_editing %}
                <div class="alert alert-info">
                    To set the value for a given field across your selected content, check the box to the left of that field's label.
                </div>
            {% endif %}

            {% for field in ct.fields %}
                {% if field.type != 'embedded' %}
                    <div id="{{ field.name }}-edit-div" class="form-group">
                        {% if bulk_editing %}
                            <input type="checkbox"
                                    class="bulk-editing-checkbox me-2"
                                    data-field_name="{{ field.name }}" />
                        {% endif %}
                        <label for="{{ field.name }}-editor" class="form-label h3">{{ field.label }}</label>
                        {% if bulk_editing %}<div id="{{ field.name }}-bulk-editing-row" class="bulk-editing-row">{% endif %}
                        {% if field.multiple %}
                            {% for value in field.value %}
                                <div id="{{ field.name }}-editor-row-{{ forloop.counter0 }}" class="row no-gutters p-2 multi-value-row">
                                    <div class="col-sm-11 col-12 multi-{{ field.type }}-col">{% include field.edit_html with value=value suffix=forloop.counter0 parent_uri=field.parent_uri %}</div>
                                    <div class="col-sm-1 ps-sm-2 mt-sm-0 col-12 mt-2">
                                        <button role="button"
                                            class="btn btn-sm btn-danger w-100"
                                            onclick="console.log('stuff was deleted'); $('#{{ field.name }}-editor-row-{{ forloop.counter0 }}').empty().remove()"
                                            data-toggle="tooltip"
                                            data-placement="top"
                                            title="Delete this value">
                                            <span class="fas fa-trash-alt"></span>
                                        </button>
                                    </div>
                                </div>
                            {% endfor %}
                            <div id="{{ field.name }}-multi-value-add-row" class="row">
                                <div class="col-sm-12">
                                    <button type="button"
                                        class="btn btn-sm btn-warning multi-value-add-button"
                                        data-field_type="{{ field.type }}"
                                        data-field_name="{{ field.name }}"
                                        data-value_index="{{ field.value|length }}"
                                        >Add</button>
                                </div>
                            </div>
                        {% else %}
                            <div id="{{ field.name }}-editor-row" class="row no-gutters">
                                <div class="col-sm-12 {{ field.type }}-col">{% include field.edit_html with value=field.value %}</div>
                            </div>
                        {% endif %}
                        {% if bulk_editing %}</div>{% endif %}
                    </div>
                {% endif %}
            {% endfor %}
            <form id="content-form" method="post">
                {% csrf_token %}
                <input type="hidden" name="corpora-content-edit" value="y">
                {% if content_ids %}
                    <input type="hidden" id="content-ids-input" name="content-ids" value="{{ content_ids }}">
                {% elif content_query %}
                    <input type="hidden" id="content-query-input" name="content-query" value=''>
                {% endif %}
            </form>
            <div class="alert alert-info">
                <button type="button" class="btn btn-primary" id="content-save-button">Save</button>
                <button type="button" class="btn btn-primary {% if popup %}d-none{% endif %}" id="content-save-and-create-button">Save and Create New</button>
                <a role="button" href="/corpus/{{ corpus_id }}/" class="btn btn-secondary {% if popup %}d-none{% endif %}">Cancel</a>
                <button id="content-delete-button" class="btn btn-sm btn-danger float-end {% if popup %}d-none{% endif %}" title="Delete" data-toggle="modal" data-target="#deletion-confirmation-modal"><span class="fas fa-trash-alt"></span></button>
            </div>

        </div>
        <div id="edit-widget-col" class="col-12 col-md-6 d-none">
            <iframe id="edit-widget-iframe" class="d-none" src="" height="100%" width="100%" frameBorder="0"></iframe>
        </div>
    </div>
{% endblock %}

{% block js %}
    <!--<script src="{% static 'js/filepond.js' %}"></script>-->
    <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
    {% for inclusion in inclusions.js %}
    <script src="{% static inclusion %}"></script>
    {% endfor %}
  {% if has_geo_field %}<script src="{% static 'js/leaflet.js' %}"></script>{% endif %}
    <script type="application/javascript">
        let corpus_id = '{{ corpus_id }}'
        let content_type = '{{ content_type }}'
        let content_id = '{% if content_id %}{{ content_id }}{% endif %}'
        let corpus = null
        let is_popup = {% if popup %}true{% else %}false{% endif %}
        let edit_widget_url = '{% if edit_widget_url %}{{ edit_widget_url }}{% endif %}'
        let bulk_editing = {% if bulk_editing %}true{% else %}false{% endif %}
        let bulk_edit_fields = []
        {% if content_query %}
        let content_query = {{ content_query|safe }};
        {% endif %}

        $(document).ready(function() {
            // The JavaScript for our form components sometimes expect for both 'corpora' and 'corpus' to exist first.
            // For this reason we'll not "mount" the components until we've fetched the data for our corpus.
            corpora.get_corpus(corpus_id, function(corpus_data) {
                corpus = corpus_data;

                // Here we're actually mounting the components, which calls and rigs up appropriate events.
                mount_components()

                // Multivalued fields have an "add" button we need to respond to when clicked:
                $('.multi-value-add-button').click(function() {
                    let button = $(this)
                    let field_type = button.data('field_type')
                    let field_name = button.data('field_name')
                    let value_index = button.data('value_index')
                    let multi_value_add_row = $(`#${field_name}-multi-value-add-row`)
                    let new_value_id = `${field_name}-editor-row-${value_index}`
                    let new_field_container_id = `${field_name}-container-${value_index}`

                    // Here we're just adding the infrastructure for rendering our new field components
                    multi_value_add_row.before(`
                        <div id="${new_value_id}" class="row no-gutters p-2 multi-value-row">
                            <div id="${new_field_container_id}" class="col-sm-11 col-12 multi-${field_type}-col"></div>
                            <div class="col-sm-1 ps-sm-2 mt-sm-0 col-12 mt-2">
                                <button role="button"
                                    class="btn btn-sm btn-danger w-100"
                                    onclick="$('#${new_value_id}').empty().remove()"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="Delete this value">
                                    <span class="fas fa-trash-alt"></span>
                                </button>
                            </div>
                        </div>
                    `)

                    // Here we're actually fetching the HTML to render for the components:
                    fetch(`/render/${field_type}/edit/html/${field_name}/${value_index}/`)
                        .then(template => template.text())
                        .then(template => {
                            $(`#${new_field_container_id}`).html(template)
                            mount_components()
                            button.data('value_index', parseInt(button.data('value_index')) + 1)
                        })
                })

                if (!is_popup) add_breadcrumb(corpus.name, `/corpus/${corpus_id}/`)

                if (!content_id.length) {
                    $('#content-delete-button').addClass('d-none')
                }

                if (edit_widget_url.length) {
                    show_widget_col()
                    let widget_iframe = $('#edit-widget-iframe')
                    widget_iframe.removeClass('d-none')
                    widget_iframe.attr('src', edit_widget_url)
                }

                if (bulk_editing) {
                    $('#content-save-and-create-button').addClass('d-none')
                    $('.bulk-editing-checkbox').change(function() {
                        let checkbox = $(this)
                        let field_name = checkbox.data('field_name')
                        let bulk_edit_row = $(`#${field_name}-bulk-editing-row`)

                        if (checkbox.is(':checked')) {
                            bulk_edit_fields.push(field_name)
                            bulk_edit_row.slideDown('slow')
                        } else {
                            bulk_edit_fields = bulk_edit_fields.filter(e => e !== field_name)
                            bulk_edit_row.slideUp('slow')
                        }
                    })
                }

                $('#content-save-button').click(function() {
                    if (bulk_editing) {
                        $('.edit-field-div').each(function() {
                            if (!bulk_edit_fields.includes($(this).data('field'))) {
                                $(this).remove();
                            }
                        });
                    }

                    if (bundle_content()) {
                        let content_form = $('#content-form');
                        content_form.submit();
                    }
                });

                $('#content-save-and-create-button').click(function() {
                    let content_form = $('#content-form');
                    content_form.append('<input type="hidden" name="save-and-create" value="y" />');
                    if (bundle_content())
                        content_form.submit()
                });

                hide_loading_overlay()
            })
        })

        function mount_components() {
            let hasResizeEvent = false

            $('[data-csrf]').each(function() { $(this).data('csrf', '{{ csrf_token }}') })

            $('[data-events]:not([data-mounted])').each(function() {
                let events = this.getAttribute('data-events')
                events = events.split(';')
                events.forEach(event => {
                    let [occasion, callback] = event.split(':')
                    if (occasion === 'load') {
                        window[callback](this)
                    } else if (occasion === 'resize') {
                        hasResizeEvent = true
                    } else {
                        $(this).on(occasion, window[callback])
                    }
                })
                this.setAttribute('data-mounted', true)
            })

            if (hasResizeEvent) {
                $(window).resize(function() {
                    $('[data-events]').each(function() {
                        let events = this.getAttribute('data-events')
                        events = events.split(';')
                        events.forEach(event => {
                            let [occasion, callback] = event.split(':')
                            if (occasion === 'resize') {
                                window[callback](this)
                            }
                        })
                    })
                })
            }
        }

        function show_widget_col(callback) {
            $('#content-form-col').addClass('col-md-6')
            $('#edit-widget-col').removeClass('d-none')
            setTimeout(callback, 1000)
        }

        function hide_widget_col(callback) {
            $('#content-form-col').removeClass('col-md-6')
            $('#edit-widget-col').addClass('d-none')
            setTimeout(callback, 1000)
        }

        function bundle_content() {
            let bundle = {}
            let multi_map = {}
            let errors = []

            corpus.content_types[content_type].fields.forEach(f => {
                if (f.type !== 'embedded') {
                    multi_map[f.name] = f.multiple
                    if (!bulk_editing || (bulk_editing && bulk_edit_fields.includes(f.name)))
                        if (f.multiple)
                            bundle[f.name] = []
                }
            })

            $('.field-value').each(function() {
                let control = $(this)
                let field_name = control.data('field_name')
                let value_format = control.data('value_format')
                let value = null

                if (!bulk_editing || (bulk_editing && bulk_edit_fields.includes(field_name))) {
                    if (value_format.startsWith('javascript') && value_format.includes(':')) {
                        let function_name = value_format.split(':')[1]
                        value = window[function_name](control[0])
                        if (value === '') value = null
                    } else if (value_format === 'json') {
                        try { value = JSON.parse(control.val()) }
                        catch (error) { value = null }
                    } else if (value_format === 'boolean') {
                        value = control.val() === 'true'
                    } else if (value_format === 'integer') {
                        if (control.val() === '') value = null
                        else value = parseInt(control.val())
                    } else if (value_format === 'float') {
                        if (control.val() === '') value = null
                        else value = parseFloat(control.val())
                    } else
                        if (control.val() === '') value = null
                        else value = control.val()

                    if (multi_map[field_name]) {
                        if(value !== null) bundle[field_name].push({value: value})
                    }
                    else bundle[field_name] = {value: value}
                }
            })

            console.log(bundle);

            if (errors.length === 0) {
                $('#content-form').append(`
                    <input type="hidden" id="content-bundle" name="content-bundle">
                `);
                $('#content-bundle').val(JSON.stringify(bundle))
                return true
            } else {
                alert(`One or more errors were encountered: ${errors.join(' ')}`)
                return false
            }
        }

        {% if javascript_functions %}{{ javascript_functions|safe }}{% endif %}
    </script>
{% endblock %}