{% extends 'base.html' %}
{% load static %}
{% load extras %}

{% block css %}
    <link href="{% static 'jquery-ui/jquery-ui.min.css' %}" rel="stylesheet">
    <style>
        html, body {
            height: 100%;
            width: 100%;
        }

        #editor-div {
            /* Setting height is important, otherwise editor wont show up */
            min-height: 300px;
        }

        .svg_select_points_lt {
            cursor: nw-resize;
        }
        .svg_select_points_rt {
            cursor: ne-resize;
        }
        .svg_select_points_rb {
            cursor: se-resize;
        }
        .svg_select_points_lb {
            cursor: sw-resize;
        }
        .svg_select_points_t {
            cursor: n-resize;
        }
        .svg_select_points_r {
            cursor: e-resize;
        }
        .svg_select_points_b {
            cursor: s-resize;
        }
        .svg_select_points_l {
            cursor: w-resize;
        }

        .svg_select_points {
            stroke-width:1;
            stroke:black;
            fill: #F9FFED;
        }

        .svg_select_points_rot {
            display: none;
        }

        .svg_select_boundingRect {
            stroke-width:3;
            fill:gray;
            stroke-dasharray: 10;
            stroke:#F9FFED;
            stroke-opacity:0.8;
            fill-opacity:0.1;
            pointer-events:none; /* This ons is needed if you want to deselect or drag the shape*/
        }

        #control-div .btn {
            width: 70px;
        }
    </style>
{% endblock %}

{% block modals %}
    <div class="modal fade" id="edit-content-modal" tabindex="-1" role="dialog" aria-labelledby="edit-content-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form id="edit-content-form" method="post">
                <div class="modal-content">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="edit-content-modal-label">Edit Content</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="edit-content-body" class="modal-body" style="min-height: 300px;">
                        <div id="editor-div"></div>
                    </div>
                    <div class="modal-footer" style="max-height: 50px;">
                        <button id="edit-content-cancel-button" type="button" class="btn btn-secondary">Cancel</button>
                        <button id="edit-content-save-button" type="button" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="container-fluid mt-2 h-100">
        <div class="row h-100">
            <div id="control-div" class="col-1 alert-info justify-content-center">
                <h5 class="mt-3">Regions</h5>
                <button id="draw-column" type="button" class="btn btn-primary m-1 mt-3">Draw</button>
                <button id="edit-column" type="button" class="btn btn-primary m-1 d-none">Edit</button>
                <button id="clear-columns" type="button" class="btn btn-secondary m-1">Clear</button>
                <button id="reset-columns" type="button" class="btn btn-secondary m-1">Reset</button>
                <button id="cancel-button" type="button" class="btn btn-secondary m-1">Cancel</button>
                <button id="save-button" type="button" class="btn btn-primary m-1">Save</button>
            </div>
            <div class="col-11 h-100">
                <div id="delineator" class="h-100 d-block"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/ace/ace.js' %}"></script>
    <script src="{% static 'js/svg/svg.js' %}"></script>
    <script src="{% static 'js/svg.panzoom/svg.panzoom.js' %}"></script>
    <script src="{% static 'js/svg.draw/svg.draw.js' %}"></script>
    <script src="{% static 'js/svg.select/svg.select.js' %}"></script>
    <script src="{% static 'js/svg.resize/svg.resize.js' %}"></script>
    <script type="application/javascript">
        var delineate;
        var canvas;
        var image;
        var column;
        var currently_selected;
        var currently_editing = false;
        var content_editor;
        var region_content = '';
        var panzoom_options = {
            panMouse: 2,
            zoomFactor: 0.01,
            zoomMin: 0.05,
            zoomMax: 5
        };
        var select_options = {
            pointSize: 10
        };
        var page_regions = {{ page_regions|safe }};

        $(document).ready(function() {
            content_editor = ace.edit("editor-div");
            content_editor.setTheme("ace/theme/monokai");
            content_editor.getSession().setMode("ace/mode/text");
            content_editor.setAutoScrollEditorIntoView(true);

            $('.modal-content').resizable({
                //alsoResize: ".modal-body",
                minHeight: 450,
                minWidth: 300,
                resize: function() {
                    $('#editor-div').height($('#edit-content-body').height());
                    content_editor.resize(true);
                },

            });
            $('#modal-body').resizable();
            $('.modal-dialog').draggable({
                cancel: '#editor-div'
            });

            delineate = SVG('delineator')
                .size("100%", "100%")
                .attr('id', 'svg-delineator')
                .panZoom(panzoom_options);
            delineate.viewbox(0, 0, $('#delineator').height(), $('#delineator').width());
            canvas = delineate.group().attr('class', 'delineator-canvas');
            image = canvas.image('/get-image?path={{ image_path }}').move(0, 0);

            populate_columns();

            delineate.on('mousedown', function(e){
                if (column) {
                    column.draw(e, {});
                }
                deselect_column();
            });

            delineate.on('mouseup', function(e){
                if (column) {
                    column.draw(e);
                    canvas.add(column);
                    column = null;
                    delineate.panZoom(panzoom_options);
                }
            });

            $('#draw-column').click(function() {
                if(currently_selected) {
                    delete_column();
                } else {
                    column = delineate.rect()
                        .attr({
                            'class': 'delineator-column',
                            fill: 'red',
                            'fill-opacity': 0.3,
                            stroke: 'red',
                            'stroke-width': 3
                        })
                        .click(function () {
                            select_column(this);
                        });
                    delineate.panZoom(false);
                }
            });

            $('#edit-column').click(function() {
                content_editor.setValue('Loading content...');

                $.get(
                    `/api/corpus/{{ corpus_id }}/document/{{ document_id }}/page/get-region-content/{{ ref_no }}/${parseInt(currently_selected.x())}/${parseInt(currently_selected.y())}/${parseInt(currently_selected.width())}/${parseInt(currently_selected.height())}/?ocrfile={{ ocr_file }}`,
                    function (content) {
                        region_content = content;
                        currently_editing = true;
                }).done(function() {
                    content_editor.setValue(region_content);
                });

                $('#edit-content-modal').modal({
                    backdrop: false
                });
            });

            $('#edit-content-cancel-button').click(function() {
                $('#edit-content-modal').modal('hide');
            });

            $('#edit-content-modal').on('hidden.bs.modal', function (e) {
                currently_editing = false;
            });

            $('#clear-columns').click(function() {
                clear_columns();
            });

            $('#reset-columns').click(function() {
                clear_columns();
                populate_columns();
            });

            $(document).keyup(function(e) {
                if (e.keyCode == 8 && currently_selected && !currently_editing) {
                    delete_column();
                    e.preventDefault();
                }
            });

            hide_loading_overlay();
        });

        function populate_columns() {
            for (let x = 0; x < page_regions.length; x++) {
                delineate.rect(page_regions[x].width, page_regions[x].height)
                    .move(page_regions[x].x, page_regions[x].y)
                    .attr({'class': 'delineator-column', fill: 'red', 'fill-opacity': 0.3, stroke: 'red', 'stroke-width': 3})
                    .click(function() {
                        select_column(this);
                    });
            }
        }

        function clear_columns() {
            deselect_column();
            $('.delineator-column').each(function() {
                this.remove();
            });
        }

        function select_column(col) {
            deselect_column();
            col.selectize(select_options).resize();
            currently_selected = col;
            $('#draw-column').text('Delete');
            $('#edit-column').removeClass('d-none');

        }

        function deselect_column() {
            if (currently_selected) {
                currently_selected.selectize(false);
                currently_selected = null;
                $('#draw-column').text('Draw');
                $('#edit-column').addClass('d-none');
            }
        }

        function delete_column() {
            if (currently_selected) {
                let col_to_delete = currently_selected;
                deselect_column();
                col_to_delete.remove();
            }
        }

    </script>
{% endblock %}