{% extends 'base.html' %}
{% load static %}
{% load extras %}

{% block css %}

{% endblock %}

{% block main %}
    <div id="iiif-div" style="height: 100%; width: 100%;">
    </div>
{% endblock %}


{% block js %}
    <script src="{% static 'js/openseadragon.min.js' %}"></script>
    <script src="{% static 'js/openseadragon-imaginghelper.min.js' %}"></script>
    <!-- The below OpenSeaDragon plugin comes from here: https://github.com/picturae/openseadragonselection -->
    <script src="{% static 'js/openseadragonselection.js' %}"></script>
    <script type="application/javascript">
        let image_url = "{{ image_url }}"
        let dragon = null
        let dragon_helper = null
        let selection = null
        let viewport_event = null
        let viewport_timer = null

        $(document).ready(function() {
            let main_container = $('#main-container')
            main_container.addClass('h-100')
            let height = main_container.height()
            $('#iiif-div').css('height', `${height}px`)

            dragon = OpenSeadragon({
                id:                 "iiif-div",
                prefixUrl:          "/static/img/openseadragon/",
                preserveViewport:   false,
                visibilityRatio:    1,
                minZoomLevel:       .25,
                maxZoomLevel:       5,
                defaultZoomLevel:   1,
                homeFillsViewer:    true,
                wrapHorizontal:     true,
                wrapVertical:       true,
                sequenceMode:       false,
                showRotationControl: true,
                tileSources:   [`${image_url}/info.json`]
            });
            dragon_helper = dragon.activateImagingHelper({onImageViewChanged: function(event) {
                viewport_event = event
                clearTimeout(viewport_timer)
                viewport_timer = setTimeout(function() {
                    let point = viewport_event.viewportOrigin

                    let top_left_x = dragon_helper.logicalToDataX(0.0)
                    let top_left_y = dragon_helper.logicalToDataY(0.0)
                    let bottom_right_x = dragon_helper.logicalToDataX(1.0)
                    let bottom_right_y = dragon_helper.logicalToDataY(1.0)
                    let width = bottom_right_x - top_left_x
                    let height = bottom_right_y - top_left_y

                    console.log(`
                        x: ${width * point.x}
                        y: ${height * point.y}
                        width: ${viewport_event.viewportWidth * width}
                    `)
                }, 1000)

            }})

            selection = dragon.selection({
                prefixUrl: "/static/img/openseadragonselection/",
                allowRotation: false,
                restrictToImage: true,
                onSelection: function(rect) {
                    let image_region = `${image_url}/${rect.x},${rect.y},${rect.width},${rect.height}/${rect.width},/0/default.jpg`
                    window.open(image_region, '_blank').focus()
                    console.log(rect)
                }
            })

            hide_loading_overlay()
        })
    </script>
{% endblock %}