{% extends 'base.html' %}

{% block modals %}
    <!-- New Corpus Modal -->
    <div class="modal fade" id="new-corpus-modal" tabindex="-1" role="dialog" aria-labelledby="new-corpus-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="new-corpus-form" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="new-corpus-modal-label">New Corpus</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="new-corpus-name-required-msg" class="alert alert-danger d-none">Please provide a name for this corpus.</div>
                        <div class="form-group">
                            <label for="new-corpus-name-box">Name</label>
                            <input type="text" class="form-control" id="new-corpus-name-box" name="new-corpus-name" />
                        </div>
                        <div class="form-group">
                            <label for="new-corpus-desc-box">Description</label>
                            <input type="text" class="form-control" id="new-corpus-desc-box" name="new-corpus-desc" />
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="new-corpus-open-checkbox" name="new-corpus-open">
                            <label class="form-check-label" for="new-corpus-open-checkbox">
                                Open access?
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
        <div class="row mt-4">
            <div class="col-12">
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="d-flex w-100 justify-content-between align-items-center">
                            <input type="text" class="form-control form-control-sm" id="search-box" placeholder="Search" />
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table">
                                    <thead class="thead-dark">
                                        <th scope="col">Corpus</th>
                                        <th scope="col">Description</th>
                                    </thead>
                                    <tbody id="corpus-table">
                                        <tr>
                                            <td colspan="2">
                                                <div class="alert alert-info">
                                                    Loading corpora...
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% if response.scholar.is_admin %}
                        <div class="row">
                            <div class="col-sm-12">
                                <iframe src="/jobs/" width="100%" height="100%" frameBorder="0"></iframe>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% if response.scholar.is_admin %}
                    <div class="card-footer">
                        <a class="btn btn-secondary" href="/scholars">Manage Scholars</a>
                        <button type="button" class="btn btn-primary" id="corpus-new-button">New Corpus</button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}

{% block js %}

    <script type="application/javascript">
        var corpus_search = {};

        $(document).ready(function() {
            load_corpora();

            $('#corpus-new-button').click(function() {
                $('#new-corpus-modal').modal();
            });

            $("#search-box").keypress(function(e){
                let key = e.which;
                if (key == 13) {
                    let query = $("#search-box").val();
                    if (query) {
                        corpus_search.q = query + '*';
                    } else {
                        corpus_search = {};
                    }
                    load_corpora();
                }
            });
        });

        function load_corpora() {
            corpora.get_corpora(corpus_search, build_corpora);
        }

        function build_corpora(corpora_data) {
            let corpus_table = $("#corpus-table");
            if (corpora_data.meta.total > 0) {
                corpus_table.html('');
                corpora_data.records.forEach(corpus => {
                    corpus_table.append(`
                        <tr>
                            <td>
                                <a href="/corpus/${corpus.id}/">${corpus.name}</a>
                            </td>
                            <td>
                                ${corpus.description}
                            </td>
                        </tr>
                    `);
                });
            } else {
                corpus_table.html(`
                    <tr>
                        <td colspan="2">
                            <div class="alert alert-info">
                                There are no open access corpora available to view at this time. If you are authorized to access certain corpora, please <a href="/scholar">log in</a>.
                            </div>
                        </td>
                    </tr>
                `);
            }

            hide_loading_overlay();
        }
    </script>

{% endblock %}